<div>

    @if (Before is null && After is null)
    {
    }
    else if (After is null)
    {
        <span class="deletion">- @Before</span>
    }
    else if (Before is null)
    {
        <span class="addition">+ @After</span>
    }
    else if (Before != After)
    {
        <span class="deletion">- @Before</span>
        <span class="addition">+ @After</span>
    }
    else
    {
        <span>@Before</span>
    }

</div>

@code {
    [Parameter] public string? Before { get; set; }
    [Parameter] public string? After { get; set; }
}