@using Microsoft.EntityFrameworkCore
@using SyncIT.Sync.Models
@using SyncIT.Web.Database
@using SyncIT.Web.Database.Models
@inject SyncItContext Db
@rendermode InteractiveServer

@{
    //TODO: Add validation, unsaved changes warning, duplicate email check
}

<div style="width: 100%">
    <MudButton Color="Color.Success" OnClick="SaveChanges">
        Save Changes
        <MudIcon Icon="@Icons.Material.Filled.Save"/>
    </MudButton>
    <MudTabs Elevation="2" Rounded="true" PanelClass="pa-6" KeepPanelsAlive="true">
        <MudTabPanel Text="Users">
            <MudButton Color="Color.Primary" OnClick="@ShowAddUserDialog">
                Add User
                <MudIcon Icon="@Icons.Material.Filled.Add"/>
            </MudButton>
            <MudDataGrid T="AdditionalDbUser" Items="@_additionalUsers" ReadOnly="false"
                         EditMode="DataGridEditMode.Cell">
                <Columns>
                    <PropertyColumn T="AdditionalDbUser" TProperty="string" Title="Email" Property="u => u.Email">
                        <EditTemplate>
                            <EmailEditCell @bind-Value="context.Item.Email" Required="true"/>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Title="Recovery Email (optional)" Property="u => u.RecoveryEmail">
                        <EditTemplate>
                            <EmailEditCell @bind-Value="context.Item.RecoveryEmail"/>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Title="CID" Property="u => u.Cid"/>
                    <PropertyColumn Title="First Name" Property="u => u.FirstName"/>
                    <PropertyColumn Title="Nick" Property="u => u.Nick"/>
                    <PropertyColumn Title="Last Name" Property="u => u.LastName"/>
                    <PropertyColumn Title="Description" Property="u => u.Description" Required="false"/>
                    <TemplateColumn Title="Overwrite options">
                        <EditTemplate>
                            <MudCheckBox T="bool" @bind-Value="context.Item.OverwriteCid" Label="CID"/>
                            <MudCheckBox T="bool" @bind-Value="context.Item.OverwriteFirstName" Label="First Name"/>
                            <MudCheckBox T="bool" @bind-Value="context.Item.OverwriteNick" Label="Nick"/>
                            <MudCheckBox T="bool" @bind-Value="context.Item.OverwriteLastName" Label="Last Name"/>
                            <MudCheckBox T="bool" @bind-Value="context.Item.OverwriteRecoveryEmail"
                                         Label="Recovery Email"/>
                        </EditTemplate>
                    </TemplateColumn>
                    <PropertyColumn Title="Aliases" Property="u => u.Aliases">
                        <EditTemplate>
                            <EditableEmailList Emails="@context.Item.Aliases" NameOfItem="Alias Email"/>
                        </EditTemplate>
                    </PropertyColumn>
                    <TemplateColumn>
                        <EditTemplate>
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete"
                                           OnClick="() => RemoveUser(context.Item!)"/>
                        </EditTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </MudTabPanel>
        <MudTabPanel Text="Groups">
            <MudButton Color="Color.Primary" OnClick="@ShowAddGroupDialog">
                Add Group
                <MudIcon Icon="@Icons.Material.Filled.Add"/>
            </MudButton>
            <MudDataGrid T="AdditionalDbGroup" Items="@_additionalGroups" ReadOnly="false"
                         EditMode="DataGridEditMode.Cell">
                <Columns>
                    <PropertyColumn Title="Email" Property="g => g.Email">
                        <EditTemplate>
                            <EmailEditCell @bind-Value="context.Item.Email" Required="true"/>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Title="Name" Property="g => g.Name"/>
                    <TemplateColumn Title="Overwrite Name" Property="g => g.OverwriteName">
                        <EditTemplate>
                            <MudCheckBox T="bool" @bind-Value="context.Item.OverwriteName"/>
                        </EditTemplate>
                    </TemplateColumn>
                    <PropertyColumn Title="Description" Property="g => g.Description" Required="false"/>
                    <PropertyColumn Title="Aliases" Property="g => g.Aliases">
                        <EditTemplate>
                            <EditableEmailList Emails="@context.Item.Aliases" NameOfItem="Alias Email"/>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Title="Members" Property="g => g.Members">
                        <EditTemplate>
                            <EditableEmailList Emails="@context.Item.Members" NameOfItem="Member Email"/>
                        </EditTemplate>
                    </PropertyColumn>
                    <TemplateColumn>
                        <EditTemplate>
                            <MudIconButton @onclick="() => RemoveGroup(context.Item)"
                                           Icon="@Icons.Material.Outlined.Delete"/>
                        </EditTemplate>
                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </MudTabPanel>
    </MudTabs>


    <MudDialog @ref="_newUserDialog">
        <TitleContent>
            <MudText Typo="Typo.h5">Add user</MudText>
        </TitleContent>
        <DialogContent>
            <MudForm @bind-IsValid="_newUserValid" Style="width: 400px">
                <MudTextField Label="Email" @bind-Value="_newUser.Email" Required="true" Validation="_emailValidator"/>
                <MudTextField Label="Recovery Email" @bind-Value="_newUser.RecoveryEmail"
                              Validation="_optionalEmailValidator"/>
                <MudCheckBox T="bool" Label="Overwrite Recovery Email" @bind-Value="_newUser.OverwriteRecoveryEmail"/>
                <MudTextField Label="CID" @bind-Value="_newUser.Cid" Required="true"/>
                <MudCheckBox T="bool" Label="Overwrite CID" @bind-Value="_newUser.OverwriteCid"/>
                <MudTextField Label="First Name" @bind-Value="_newUser.FirstName" Required="true"/>
                <MudCheckBox T="bool" Label="Overwrite First Name" @bind-Value="_newUser.OverwriteFirstName"/>
                <MudTextField Label="Nick" @bind-Value="_newUser.Nick" Required="true"/>
                <MudCheckBox T="bool" Label="Overwrite Nick" @bind-Value="_newUser.OverwriteNick"/>
                <MudTextField Label="Last Name" @bind-Value="_newUser.LastName" Required="true"/>
                <MudCheckBox T="bool" Label="Overwrite Last Name" @bind-Value="_newUser.OverwriteLastName"/>
                <MudTextField Label="Description" @bind-Value="_newUser.Description"/>
                <MudInputLabel>
                    Aliases
                </MudInputLabel>
                <EditableEmailList Emails="_newUser.Aliases" NameOfItem="Alias Email"/>
            </MudForm>
        </DialogContent>
        <DialogActions>
            <MudButton Disabled="@(!_newUserValid)" OnClick="@AddUser">
                Add user
            </MudButton>
        </DialogActions>
    </MudDialog>

    <MudDialog @ref="_newGroupDialog">
        <TitleContent>
            <MudText Typo="Typo.h5">Add group</MudText>
        </TitleContent>
        <DialogContent>
            <MudForm @bind-IsValid="_newGroupValid">
                <MudTextField Label="Email" @bind-Value="_newGroup.Email" Validation="_emailValidator" Required="true"/>
                <MudTextField Label="Name" @bind-Value="_newGroup.Name" Required="true"/>
                <MudCheckBox T="bool" Label="Overwrite Name" @bind-Value="_newGroup.OverwriteName"/>
                <MudTextField Label="Description" @bind-Value="_newGroup.Description"/>
                <MudInputLabel>
                    Aliases
                </MudInputLabel>
                <EditableEmailList Emails="_newGroup.Aliases" NameOfItem="Alias Email"/>
                <MudInputLabel>
                    Members
                </MudInputLabel>
                <EditableEmailList Emails="_newGroup.Members" NameOfItem="Member Email"/>
            </MudForm>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="@AddGroup" Disabled="@(!_newGroupValid)">
                Add group
            </MudButton>
        </DialogActions>
    </MudDialog>
</div>



@code {

    private MudDialog _newUserDialog = null!;
    private MudDialog _newGroupDialog = null!;

    private bool _newUserValid = false;
    private bool _newGroupValid = false;

    private List<AdditionalDbUser> _additionalUsers = new();
    private List<AdditionalDbGroup> _additionalGroups = new();

    private NewAdditionalUserModel _newUser = new();
    private NewAdditionalGroupModel _newGroup = new();

    private Func<string?, string?> _emailValidator = x => x is not null && EmailAddress.IsValid(x) ? null : "Invalid email address";
    private Func<string?, string?> _optionalEmailValidator = x => x is null or "" || EmailAddress.IsValid(x) ? null : "Invalid email address";

    protected override async Task OnInitializedAsync()
    {
        _additionalUsers = await Db.AdditionalUsers.ToListAsync();
        _additionalGroups = await Db.AdditionalGroups.ToListAsync();
    }

    private async Task SaveChanges()
    {
        await Db.SaveChangesAsync();
    }

    private async Task ShowAddUserDialog()
    {
        await _newUserDialog.ShowAsync();
    }

    private async Task ShowAddGroupDialog()
    {
        await _newGroupDialog.ShowAsync();
    }

    private async Task HideAddUserDialog()
    {
        await _newUserDialog.CloseAsync();
    }

    private async Task HideAddGroupDialog()
    {
        await _newGroupDialog.CloseAsync();
    }

    private async Task AddUser()
    {
        //TODO: VALIDATION!!!
        var newUser = new AdditionalDbUser
        {
            Email = _newUser.Email,
            RecoveryEmail = _newUser.RecoveryEmail is null or "" ? null : new EmailAddress(_newUser.RecoveryEmail),
            OverwriteRecoveryEmail = _newUser.OverwriteRecoveryEmail,
            Cid = _newUser.Cid,
            OverwriteCid = _newUser.OverwriteCid,
            FirstName = _newUser.FirstName,
            OverwriteFirstName = _newUser.OverwriteFirstName,
            Nick = _newUser.Nick,
            OverwriteNick = _newUser.OverwriteNick,
            LastName = _newUser.LastName,
            OverwriteLastName = _newUser.OverwriteLastName,
            Description = _newUser.Description,
            Aliases = _newUser.Aliases
        };
        _additionalUsers.Add(newUser);
        Db.AdditionalUsers.Add(newUser);

        _newUser = new NewAdditionalUserModel();
        await HideAddGroupDialog();
    }

    private void RemoveUser(AdditionalDbUser dbUser)
    {
        _additionalUsers.Remove(dbUser);
        Db.AdditionalUsers.Remove(dbUser);
    }

    private async Task AddGroup()
    {
        var newGroup = new AdditionalDbGroup
        {
            Email = _newGroup.Email,
            Name = _newGroup.Name,
            OverwriteName = _newGroup.OverwriteName,
            Description = _newGroup.Description,
            Aliases = _newGroup.Aliases,
            Members = _newGroup.Members
        };

        _additionalGroups.Add(newGroup);
        Db.AdditionalGroups.Add(newGroup);

        _newGroup = new NewAdditionalGroupModel();
        await HideAddGroupDialog();
    }

    private void RemoveGroup(AdditionalDbGroup dbGroup)
    {
        _additionalGroups.Remove(dbGroup);
        Db.AdditionalGroups.Remove(dbGroup);
    }


    private class NewAdditionalUserModel
    {
        public string Email { get; set; } = string.Empty;
        public string? RecoveryEmail { get; set; } = string.Empty;
        public bool OverwriteRecoveryEmail { get; set; } = false;

        public string Cid { get; set; } = string.Empty;
        public bool OverwriteCid { get; set; } = false;

        public string FirstName { get; set; } = string.Empty;
        public bool OverwriteFirstName { get; set; } = false;

        public string Nick { get; set; } = string.Empty;
        public bool OverwriteNick { get; set; } = false;

        public string LastName { get; set; } = string.Empty;
        public bool OverwriteLastName { get; set; } = false;

        public string Description { get; set; } = string.Empty;

        public List<EmailAddress> Aliases { get; } = [];
    }

    private class NewAdditionalGroupModel
    {
        public string Email { get; set; } = string.Empty;

        public string Name { get; set; } = string.Empty;
        public bool OverwriteName { get; set; } = false;

        public string Description { get; set; } = string.Empty;

        public List<EmailAddress> Aliases { get; } = [];
        public List<EmailAddress> Members { get; } = [];
    }

}