@using Microsoft.EntityFrameworkCore
@using SyncIT.Sync
@using SyncIT.Sync.Models
@using SyncIT.Sync.Services
@using SyncIT.Web.Blazor.Components.ChangeDisplay
@using SyncIT.Web.Database
@inject SyncItContext Db
@inject IServiceProvider ServiceProvider
@inject ILogger<SyncComponent> Logger
@inject IDialogService DialogService
@inject ChangeResolver ChangeResolver
@rendermode InteractiveServer
<h3>SyncComponent</h3>

<MudSelect T="Source" @bind-Value="_selectedSource" SelectedValuesChanged="@UpdateChangesLists">
    <MudSelectItem T="Source" Value="null" Disabled="true">Select Source</MudSelectItem>
    @foreach (var source in _sources)
    {
        <MudSelectItem T="Source" Value="@source">@source.Name</MudSelectItem>
    }
</MudSelect>

<MudSelect T="Target" @bind-Value="_selectedTarget" SelectedValuesChanged="@UpdateChangesLists">
    <MudSelectItem T="Target" Value="null" Disabled="true">Select Target</MudSelectItem>
    @foreach (var target in _targets)
    {
        <MudSelectItem T="Target" Value="@target">@target.Name</MudSelectItem>
    }
</MudSelect>

<MudButton OnClick="@UpdateChangesLists">
    Refresh
</MudButton>

<MudButton OnClick="@ApplyChangesAsync">
    Apply user and group changes
</MudButton>

@{
    var userTabTitle = $"Users ({_selectedUserChanges.Count} / {_userChanges.Count})";
    var groupTabTitle = $"Groups ({_selectedGroupChanges.Count} / {_groupChanges.Count})";
}

<MudTabs Elevation="2" Rounded="true" PanelClass="pa-6" KeepPanelsAlive="true">
    <MudTabPanel Text="@userTabTitle">
        <MudDataGrid T="UserChange" @ref="_userChangeDataGrid" Items="@_userChanges" MultiSelection="true"
                     @bind-SelectedItems="@_selectedUserChanges">
            <Columns>
                <SelectColumn T="UserChange"></SelectColumn>
                <TemplateColumn Title="CID">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Cid" After="@context.Item?.After?.Cid"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Email">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Email" After="@context.Item?.After?.Email"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="First Name">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.FirstName"
                                      After="@context.Item?.After?.FirstName"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Nick">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Nick" After="@context.Item?.After?.Nick"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Last Name">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.LastName" After="@context.Item?.After?.LastName"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Aliases">
                    <CellTemplate>
                        <EmailSetChange Before="@context.Item?.Before?.Aliases" After="@context.Item?.After?.Aliases"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Recovery Email">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.RecoveryEmail"
                                      After="@context.Item?.After?.RecoveryEmail"/>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>
    <MudTabPanel Text="@groupTabTitle">
        <MudDataGrid T="GroupChange" @ref="_groupChangeDataGrid" Items="@_groupChanges" MultiSelection="true"
                     @bind-SelectedItems="@_selectedGroupChanges">
            <Columns>
                <SelectColumn T="GroupChange"></SelectColumn>
                <TemplateColumn Title="Email">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Email" After="@context.Item?.After?.Email"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Aliases">
                    <CellTemplate>
                        <EmailSetChange Before="@context.Item?.Before?.Aliases" After="@context.Item?.After?.Aliases"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Name">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Name" After="@context.Item?.After?.Name"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Members">
                    <CellTemplate>
                        <EmailSetChange Before="@context.Item?.Before?.Members" After="@context.Item?.After?.Members"/>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>
</MudTabs>

<MudDialog>
    
</MudDialog>

@code {

    private MudDataGrid<UserChange> _userChangeDataGrid = null!;
    private MudDataGrid<GroupChange> _groupChangeDataGrid = null!;

    private Target? _selectedTarget;
    private Source? _selectedSource;

    private List<Target> _targets = [];
    private List<Source> _sources = [];

    private List<UserChange> _userChanges = [];
    private List<GroupChange> _groupChanges = [];

    private HashSet<UserChange> _selectedUserChanges = [];
    private HashSet<GroupChange> _selectedGroupChanges = [];

    private List<AdditionalUser> _additionalUsers = new();
    private List<AdditionalGroup> _additionalGroups = new();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allTargetsAndSources = await Db.BaseSyncServiceConfigs.Select(x =>
                new { Config = x, Source = x.ToSource(ServiceProvider) }).ToListAsync();

            _targets = allTargetsAndSources.Where(x => x.Config.CanBeTarget && x.Source is ITarget)
                .Select(x => new Target(x.Config.Name, x.Config.Description, (ITarget)x.Source)).ToList();

            _additionalUsers = await Db.AdditionalUsers.Select(u => u.ToAdditionalUser()).ToListAsync();
            _additionalGroups = await Db.AdditionalGroups.Select(g => g.ToAdditionalGroup()).ToListAsync();


            _sources = allTargetsAndSources.Select(x => new Source(x.Config.Name, x.Config.Description, x.Source)).ToList();
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Failed to load targets and sources");
            _ = DialogService.ShowMessageBox("Error", "Failed to load targets and sources.\n Check the logs and check source/target settings.");
        }

        await UpdateChangesLists();
    }

    private async Task UpdateChangesLists()
    {
        _groupChanges.Clear();
        _userChanges.Clear();

        if (_selectedTarget is null || _selectedSource is null)
        {
            return;
        }

        var beforeUsersTask = _selectedTarget.TargetService.GetUsersAsync();
        var beforeGroupsTask = _selectedTarget.TargetService.GetGroupsAsync();
        var afterUsersTask = _selectedSource.SourceService.GetUsersAsync();
        var afterGroupsTask = _selectedSource.SourceService.GetGroupsAsync();

        await Task.WhenAll(beforeUsersTask, beforeGroupsTask, afterUsersTask, afterGroupsTask);

        var afterUsers = AdditionsMerger.MergeAdditionalUsers(afterUsersTask.Result, _additionalUsers);
        var afterGroups = AdditionsMerger.MergeAdditionalGroups(afterGroupsTask.Result, _additionalGroups);

        _userChanges = ChangeResolver.ResolveUserChanges(beforeUsersTask.Result, afterUsers);
        _groupChanges = ChangeResolver.ResolveGroupChanges(beforeGroupsTask.Result, afterGroups);
    }

    private async Task ApplyChangesAsync()
    {
        if (_selectedTarget is null || _selectedSource is null)
        {
            return;
        }

        var userChangesToApply = _selectedUserChanges.Where(x => x.After is not null || x.Before is not null).ToList();
        var groupChangesToApply = _selectedGroupChanges.Where(x => x.After is not null || x.Before is not null).ToList();
        var target = _selectedTarget.TargetService;

        var userAdditionsCount = userChangesToApply.Count(x => x.After is not null && x.Before is null);
        var userDeletionsCount = userChangesToApply.Count(x => x.After is null && x.Before is not null);
        var userUpdatesCount = userChangesToApply.Count(x => x.After is not null && x.Before is not null);

        var groupAdditionsCount = groupChangesToApply.Count(x => x.After is not null && x.Before is null);
        var groupDeletionsCount = groupChangesToApply.Count(x => x.After is null && x.Before is not null);
        var groupUpdatesCount = groupChangesToApply.Count(x => x.After is not null && x.Before is not null);

        if (!(await DialogService.ShowMessageBox("Apply Changes",
                $"Are you sure you want to apply the following changes?\n" +
                $"Users: {userAdditionsCount} additions, {userDeletionsCount} deletions, {userUpdatesCount} updates\n" +
                $"Groups: {groupAdditionsCount} additions, {groupDeletionsCount} deletions, {groupUpdatesCount} updates",
                "Yes", cancelText: "No") ?? false))
        {
            return;
        }

        var userChangeResults = ChangeApplier.ApplyUserChangesAsync(userChangesToApply, target);

        await foreach (var changeResultTask in userChangeResults)
        {
            var changeResult = await changeResultTask;
            if (changeResult.Exception is null)
            {
                Logger.LogInformation("Successfully applied user change: {Change}", changeResult.UserChange.ChangeId);
            }
            else
            {
                Logger.LogError("Failed to apply user change: {Change}", changeResult.UserChange.ChangeId);
            }
        }

        var groupChangeResults = ChangeApplier.ApplyGroupChangesAsync(groupChangesToApply, target);

        await foreach (var changeResultTask in groupChangeResults)
        {
            var changeResult = await changeResultTask;
            if (changeResult.Exception is null)
            {
                Logger.LogInformation("Successfully applied group change: {Change}", changeResult.GroupChange.ChangeId);
                DialogService.ShowMessageBox("Success", $"Successfully applied group change {changeResult.GroupChange.After?.Name}");
            }
            else
            {
                Logger.LogError("Failed to apply group change: {Change}", changeResult.GroupChange.ChangeId);
            }
        }

        _selectedUserChanges.Clear();
        _selectedGroupChanges.Clear();
        await UpdateChangesLists();
    }

    private record Target(string Name, string Description, ITarget TargetService);

    private record Source(string Name, string Description, ISource SourceService);

}