@using Microsoft.EntityFrameworkCore
@using SyncIT.Sync.Models
@using SyncIT.Sync.Services
@using SyncIT.Web.Blazor.Components.ChangeDisplay
@using SyncIT.Web.Database
@inject SyncItContext Db
@inject IServiceProvider ServiceProvider
@inject ILogger<SyncComponent> Logger
@inject IDialogService DialogService
@inject ChangeResolver ChangeResolver
@rendermode InteractiveServer
<h3>SyncComponent</h3>

<MudSelect T="Source" @bind-Value="_selectedSource">
    <MudSelectItem T="Source" Value="null" Disabled="true">Select Source</MudSelectItem>
    @foreach (var source in _sources)
    {
        <MudSelectItem T="Source" Value="@source">@source.Name</MudSelectItem>
    }
</MudSelect>

<MudSelect T="Target" @bind-Value="_selectedTarget">
    <MudSelectItem T="Target" Value="null" Disabled="true">Select Target</MudSelectItem>
    @foreach (var target in _targets)
    {
        <MudSelectItem T="Target" Value="@target">@target.Name</MudSelectItem>
    }
</MudSelect>

<MudButton OnClick="@UpdateChangesLists">
    Refresh
</MudButton>

<MudButton OnClick="@ApplyChangesAsync">
    Apply user and group changes
</MudButton>

<MudTabs Elevation="2" Rounded="true" PanelClass="pa-6">
    <MudTabPanel Text="Users">
        <MudDataGrid T="UserChange" Items="@_userChanges" MultiSelection="true"
                     @bind-SelectedItems="_selectedUserChanges">
            <Columns>
                <SelectColumn T="UserChange"></SelectColumn>
                <TemplateColumn Title="CID">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Cid" After="@context.Item?.After?.Cid"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Email">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Email" After="@context.Item?.After?.Email"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="First Name">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.FirstName"
                                      After="@context.Item?.After?.FirstName"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Nick">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Nick" After="@context.Item?.After?.Nick"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Last Name">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.LastName" After="@context.Item?.After?.LastName"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Aliases">
                    <CellTemplate>
                        <EmailSetChange Before="@context.Item?.Before?.Aliases" After="@context.Item?.After?.Aliases"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Recovery Email">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.RecoveryEmail"
                                      After="@context.Item?.After?.RecoveryEmail"/>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>
    <MudTabPanel Text="Groups">
        <MudDataGrid T="GroupChange" Items="@_groupChanges" MultiSelection="true"
                     @bind-SelectedItems="_selectedGroupChanges">
            <Columns>
                <SelectColumn T="GroupChange"></SelectColumn>
                <TemplateColumn Title="Email">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Email" After="@context.Item?.After?.Email"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Aliases">
                    <CellTemplate>
                        <EmailSetChange Before="@context.Item?.Before?.Aliases" After="@context.Item?.After?.Aliases"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Name">
                    <CellTemplate>
                        <StringChange Before="@context.Item?.Before?.Name" After="@context.Item?.After?.Name"/>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Members">
                    <CellTemplate>
                        <EmailSetChange Before="@context.Item?.Before?.Members" After="@context.Item?.After?.Members"/>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudTabPanel>
</MudTabs>

@code {

    private Target? _selectedTarget;
    private Source? _selectedSource;

    private List<Target> _targets = [];
    private List<Source> _sources = [];

    private List<UserChange> _userChanges = [];
    private List<GroupChange> _groupChanges = [];

    private HashSet<UserChange> _selectedUserChanges = [];
    private HashSet<GroupChange> _selectedGroupChanges = [];


    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allTargetsAndSources = await Db.BaseSyncServiceConfigs.Select(x =>
                new { Config = x, Source = x.ToSource(ServiceProvider) }).ToListAsync();

            _targets = allTargetsAndSources.Where(x => x.Config.CanBeTarget && x.Source is ITarget)
                .Select(x => new Target(x.Config.Name, x.Config.Description, (ITarget)x.Source)).ToList();

            _sources = allTargetsAndSources.Select(x => new Source(x.Config.Name, x.Config.Description, x.Source)).ToList();
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Failed to load targets and sources");
            _ = DialogService.ShowMessageBox("Error", "Failed to load targets and sources.\n Check the logs and check source/target settings.");
        }

        await UpdateChangesLists();
    }

    private async Task UpdateChangesLists()
    {
        _groupChanges.Clear();
        _userChanges.Clear();

        if (_selectedTarget is null || _selectedSource is null)
        {
            return;
        }

        var beforeUsersTask = _selectedTarget.TargetService.GetUsersAsync();
        var beforeGroupsTask = _selectedTarget.TargetService.GetGroupsAsync();
        var afterUsersTask = _selectedSource.SourceService.GetUsersAsync();
        var afterGroupsTask = _selectedSource.SourceService.GetGroupsAsync();

        await Task.WhenAll(beforeUsersTask, beforeGroupsTask, afterUsersTask, afterGroupsTask);

        _userChanges = ChangeResolver.ResolveUserChanges(beforeUsersTask.Result, afterUsersTask.Result);
        _groupChanges = ChangeResolver.ResolveGroupChanges(beforeGroupsTask.Result, afterGroupsTask.Result);
    }

    private async Task ApplyChangesAsync()
    {
        if (_selectedTarget is null || _selectedSource is null)
        {
            return;
        }

        var userAdditionsCount = _selectedUserChanges.Count(x => x.After is not null && x.Before is null);
        var userDeletionsCount = _selectedUserChanges.Count(x => x.After is null && x.Before is not null);
        var userUpdatesCount = _selectedUserChanges.Count(x => x.After is not null && x.Before is not null);

        var groupAdditionsCount = _selectedGroupChanges.Count(x => x.After is not null && x.Before is null);
        var groupDeletionsCount = _selectedGroupChanges.Count(x => x.After is null && x.Before is not null);
        var groupUpdatesCount = _selectedGroupChanges.Count(x => x.After is not null && x.Before is not null);

        if (!(await DialogService.ShowMessageBox("Apply Changes",
                $"Are you sure you want to apply the following changes?\n" +
                $"Users: {userAdditionsCount} additions, {userDeletionsCount} deletions, {userUpdatesCount} updates\n" +
                $"Groups: {groupAdditionsCount} additions, {groupDeletionsCount} deletions, {groupUpdatesCount} updates",
                "Yes", cancelText: "No") ?? false))
        {
            return;
        }

        Logger.LogInformation("Applying changes");
    }

    private record Target(string Name, string Description, ITarget TargetService);

    private record Source(string Name, string Description, ISource SourceService);

}