@using FluentValidation
@using Microsoft.EntityFrameworkCore
@using SyncIT.Web.Database
@using SyncIT.Web.Database.Models.Services
@using SyncIT.Web.Util
@inject SyncItContext Db
@inject IDialogService DialogService
@rendermode InteractiveServer

<h3>GSuite</h3>
<MudButton OnClick="() => _dataGrid.SetEditingItemAsync(new GSuiteServiceConfig { Id = Guid.CreateVersion7()})">
    <MudIcon Icon="@Icons.Material.Outlined.Add"/>
    Add
</MudButton>
<MudDataGrid T="GSuiteServiceConfig" Items="_gSuiteServiceConfigs" @ref="_dataGrid"
             ReadOnly="false" EditMode="DataGridEditMode.Form" EditTrigger="DataGridEditTrigger.Manual"
             EditDialogOptions="new DialogOptions { MaxWidth = MaxWidth.ExtraLarge}"
             CommittedItemChanges="@CommittedItemChanges" StartedEditingItem="@StartedEditingItem"
             CanceledEditingItem="@CanceledEditingItem">
    <Columns>
        <PropertyColumn Property="x => x.Name"></PropertyColumn>
        <PropertyColumn Property="x => x.Description"></PropertyColumn>
        <PropertyColumn Property="x => x.AdminEmail">
            <EditTemplate>
                <MudTextField T="string" Variant="Variant.Outlined" Label="Admin Email"
                              @bind-Value="context.Item.AdminEmail" For="() => context.Item.AdminEmail"
                              Required="true" Validation="EmailValidator.Validation"/>
            </EditTemplate>
        </PropertyColumn>
        <PropertyColumn Title="Auth" Property="x => x.AuthJson">
            <CellTemplate>
                ****
            </CellTemplate>
            <EditTemplate>
                <MudFileUpload T="IBrowserFile" Accept=".json" @bind-Files="_authJsonFile">
                    <ActivatorContent>
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload">
                            Upload Auth JSON
                        </MudButton>
                    </ActivatorContent>
                </MudFileUpload>
                @if (!string.IsNullOrEmpty(context.Item.AuthJson))
                {
                    <MudText Typo="Typo.body2">Leave empty to keep the current token</MudText>
                }
            </EditTemplate>
        </PropertyColumn>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit"
                               OnClick="@context.Actions.StartEditingItemAsync"/>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete"
                               OnClick="() => DeleteItemCallback(context.Item)"/>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

@code {

    private MudDataGrid<GSuiteServiceConfig> _dataGrid = null!;

    private HashSet<GSuiteServiceConfig> _gSuiteServiceConfigs = [];

    private IBrowserFile? _authJsonFile;

    private static readonly FluentValueValidator<string> EmailValidator = new(x => x.EmailAddress());

    protected override async Task OnInitializedAsync()
    {
        _gSuiteServiceConfigs = await Db.GSuiteServiceConfigs.ToHashSetAsync();
    }

    async Task CommittedItemChanges(GSuiteServiceConfig item)
    {
        if (_authJsonFile is not null)
        {
            await using var readStream = _authJsonFile.OpenReadStream();
            using var streamReader = new StreamReader(readStream);
            item.AuthJson = await streamReader.ReadToEndAsync();
        }

        if (_gSuiteServiceConfigs.Add(item))
        {
            Db.GSuiteServiceConfigs.Add(item);
        }

        await Db.SaveChangesAsync();
    }

    async Task DeleteItemCallback(GSuiteServiceConfig item)
    {
        if (await DialogService.ShowMessageBox("Delete", $"Are you sure you want to delete \"{item.Name}\"?", "Yes", cancelText: "No") ?? false)
        {
            _gSuiteServiceConfigs.Remove(item);
            Db.GSuiteServiceConfigs.Remove(item);
            await Db.SaveChangesAsync();
        }
    }


    private void StartedEditingItem(GSuiteServiceConfig item)
    {
        _authJsonFile = null;
    }

    private void CanceledEditingItem(GSuiteServiceConfig obj)
    {
        _authJsonFile = null;
    }

}